* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    text-align: center;
}

.app {
    background-image: url('../public/remy_loz-3S0INpfREQc-unsplash.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
}

footer {
	position: fixed;
	bottom: 0;
	font-size: 15px;
	font-weight: bold;
  color: white;
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.appHeader h1 {
  margin-top: 10px;
  color: darkgray;
}

.logOutField {
  --b: 3px;
  --s: .45em; 
  --color: #010610;
  margin: 5px;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  font-weight: bold;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.logOutField:hover,
.logOutField:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.logOutField:active {
  background: var(--color);
  color: #fff;
}

.appFields {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.appFields a {
    text-decoration: none;
}

.appField {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.appField .appField_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.appField .appField_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.appField .appField_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -50px;
  height: 40px;
}

.appField:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.toDoListCreationField {
  display: flex;
	flex-direction: row;
  justify-content: center;
}

.toDoListCreationFieldHeader {

  padding: 5px;
}

.inputForm {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputForm input {
  margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 15px;
	color: #888;
  width: 300px;
}

.inputForm input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.inputForm button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 150;
	font-size: 0.5em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor: pointer;
	outline: none;
  width: 150px;
}

.inputForm button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.checkBoxFlex {
  display: flex;
	flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: 200px;
}

.checkBoxFlex input{
  width: fit-content;
}

.checkBoxFlex {
  font-size: 16px;
  color: black;
}
