* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    text-align: center;
}

.app {
    background-image: url('../public/remy_loz-3S0INpfREQc-unsplash.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

footer {
	position: fixed;
	bottom: 0;
	font-size: 15px;
	font-weight: bold;
  color: white;
  text-shadow: 5px 5px 8px #010610;
  margin: 2px;
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.leftAppHeader {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    color: white;
    text-shadow: 5px 5px 8px #010610;
}

.appHeader h1 {
  margin-top: 10px;
  color: white;
  text-shadow: 5px 5px 8px #010610;
}

.logOutField {
  --b: 3px;
  --s: .45em;
  --color: #010610;
  margin: 5px;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  font-weight: bold;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.logOutField:hover,
.logOutField:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.logOutField:active {
  background: var(--color);
  color: #fff;
}

.appFields {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.appFields a {
    text-decoration: none;
}

.appField {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.appField .appField_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.appField .appField_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.appField .appField_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -295px;
  height: 40px;
}

.appField:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.toDoListCreationField {
  display: flex;
	flex-direction: row;
  justify-content: center;
}

.toDoListCreationFieldHeader {
  padding: 5px;
  text-shadow: 5px 5px 8px #010610;
}

.inputForm {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputForm input {
  margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 15px;
	color: #888;
  width: 300px;
}

.inputForm input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.inputForm button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 150;
	font-size: 0.5em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor: pointer;
	outline: none;
  width: 150px;
}

.inputForm button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.checkBoxFlex {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.checkBoxFlex input{
  width: fit-content;
}

.checkBoxFlex {
  font-size: 16px;
  color: black;
}

.basicToDoListContainer {
  display: flex;
	flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 80%;
  min-width: 620px;
  min-height: 510px;
  background-image: url('../public/emptytodolist.jpg');
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;
  border-radius: 10px;
  border: solid 1.5em rgba(#000, .2);
  position: relative;
  left: 10%;
}

.basicToDoList {
  display: flex;
	flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-size: 20px;
  margin-top: 50px;
}

.basicToDoList h3{
  font-size: 30px;
}

.basicToDoList h5{
  font-size: 15px;
  height: 21px;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
  margin-top: 20px;
}

.basicToDo {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  min-width: 250px;
  width: 500px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.basicToDo span:hover {
  cursor: pointer;
}

.greyBackground {
    position: fixed;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1000ms ease-out;
}

.closeButton {
    cursor: pointer;
    text-align: right;
    font-size: 20px;
}

.profileFlex {
    z-index: 150;
	background-color: white;
	max-width: 400px;
	margin: 0 auto;
	position: fixed;
	top: 15%;
	left: 35%;
	padding-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
	min-width: 370px;
}


.profileFlex .profileHeader {
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
	padding: 5px;
}

.profileBody {
  line-height: 25px;
  font-size: 18px;
}

.bigTimer {
  display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigTimerComponent {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
}

.pomodoroBackground {
    background-image: url('../public/pomodorotimer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.timer {
  font-size: 80px;
}

.setNetTimeField {
  width: 40px;
}

.bigTimer button {
  width: 100px;
  height: 25px;
  /* border-radius: 5px; */
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 8px;
  margin-top: 5px;
}

.bigTimer button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .bigTimer button {
    padding: 0.25em 0.75em;
  }
}
