* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../public/Background.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
}

h1{
    text-align: right;
    margin: 5px;
}

.startPageField {
    background-color: white;
    width: 200px;
    height: 150px;
    padding: 50px;
    border-radius: 4px;
    margin: 5px;
    opacity: 0.5;
    border: 1px solid black;
}